.nekored{
color:red;
}
.nekogreen{
color:green;
}
.nekoblue{
color:blue;
}
.nekopurple{
color: purple;
}
.bgred{
background-color:red;
}
.bggreen{
background-color:green;
}
.ct{
text-align: center;
color:pink;
}
