.nekored{
color:red;
}
.nekogreen{
color:green;
}
.nekoblue{
color:blue;
}
.nekopurple{
color: purple;
}
.bgred{
background-color:red;
}
.bggreen{
background-color:green;
}
.ct{
text-align: center;
color:pink;
}
.button {
        display: inline-block;
        background-color: #7b38d8;
        border-radius: 10px;
        border: 2px double #cccccc;
        color: #eeeeee;
        text-align: center;
        font-size: 28px;
        padding: 20px;
        width: 200px;
        -webkit-transition: all 0.5s;
        -moz-transition: all 0.5s;
        -o-transition: all 0.5s;
        transition: all 0.5s;
        cursor: pointer;
        margin: 5px;
}
